body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
#header{
    height: 500px;
    background-image:url(images/bg1.jpg);
    background-size: cover;
}
.healthy{
    width: 710px;
    float: left;
    margin-left: 50px;
}
.healthy h1{
    font-size: 30px;
}
.healthy span{
    color: rgb(221, 53, 23);
}
.healthy p{
    margin-bottom: 40px;
    font-size: 20px;
}
.healthy a{
    text-decoration: none;
    background:tomato;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    margin-left: 25%;
}
#ourfoood {
    height: 700px;
}
.foodimg{
    width: 300px;
    max-height: 500px;
    padding: 20px;
    float: left;
    margin-top: 60px;
    margin-left: 120px;
    border-radius: 20px;
    margin-right: 0px;
    box-shadow: 10px 10px 30px gray;
}
.foodimg img{
    height: 500px;
    height:auto;
    margin-top: 117px;
    max-width: 300px;
}
#middle{
    background-image:url(images/Frame\ 59.jpg);
    background-size: cover;
    height:500px;
}
.myimage{    
    width: 300px;   
    max-height: 370px;    
    float: left;    
    margin-top: 60px;  
    margin-left: 150px;  
    border-radius: 20px;  
    margin-right: 0px;   
    box-shadow: 10px 10px 30px gray;
}
.myimage img{
    max-width:708px;
    height: 350px;
    margin-bottom: 0px;
    margin-left: 40px;
    margin-top: 20px;
}
.about{
    width: 710px;
    float: right;
    margin-right: 50px;
}
.about h1 {
    font-size: 40px;
    margin-top: 70px;
    color: #564343;
}
.about p {
    width: 444px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 50px;
}
.about a{
    text-decoration: none;
    background-color: #ff04ec;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}
#middle2{
    background-image:url(images/7.png);
    background-size: cover;
    height: 500px;
}
.person{
    margin-top: 40px;
    width: 400px;
    float: left;
    margin-left: 250px;
}
.personimg{
    width: 300px;
    float: right;
    margin-right: 200px;
    max-height: 500px;
    margin-top: 70px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px gray;
}
.personimg img{
    margin-top: 100px;
    height: 500px;
    height:auto;
    max-width: 300px;
}
.person h1 {
    font-size: 35px;
}
.person h3{
    margin-bottom: 30px;
    margin-left: 60px;
    color: blue;
}
.person p {
    font-size: 18px;
    margin-bottom: 40px;
}
.person a {
    text-decoration: none;
    padding: 10px 20px;
    background: tomato;
    color: white;
    border-radius: 25px;
}
.foodreview{
    text-align: center;
}
.foodreview h1{
    
    font-size: 40px;
    margin-top:px;
}
.foodreview p{
    width: 550px;
    text-align: center;
    margin-left: 450px;
}
 .foodimage img{
    max-width: 300px;
    margin-top: 0px;
    text-align: center;
}
.foodimage{
    width: 300px;
    max-height: 500px;
    padding: 20px;
    float: left;
    margin-top: 10px;
    border-radius: 20px;
    margin-right: 0px;
    box-shadow: 10px 10px 30px gray;
}
.foodimage h2{
    color: rgb(243, 196, 108);
}
.foodimage p{
    color: rgb(134, 122, 52);
}
.foodimage:first-child{
    margin-left: 32px;
}
.foodimage2 img{
    max-width: 300px;
    margin-top: 0px;
    text-align: center;
    height: 228px;
    border-radius: 20px;
}
.foodimage2 h2{
    color: rgb(243, 196, 108);
}
.foodimage2{
    width: 300px;
    box-shadow: 10px 10px 30px gray;
    max-height: 500px;
    padding: 20px;
    float: left;
    margin-top: 10px;
    border-radius: 20px;
    margin-left: 30px;
}
.foodimage2 p{
    color: rgb(134, 122, 52);
}
.social {
    width: 900px;
    margin: auto;
    height: 180px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px gray;
    margin-top: 30px;
    margin-bottom: 30px;
}
.socialfollowers h1 {
    font-size: 40px;
    margin-bottom: 0px;
}
.socialfollowers h4{
    color: rgb(51, 40, 40);
}
.socialfollowers {
    float: left;
    text-align: center;
    width: 300px;
}
.foodworld h1{
    padding-top: 35px;
}
.foodworld p {
    color: rgb(190, 173, 173);
    padding-bottom: 35px;
}
section#footer {
    text-align: center;
    background-color: black;
    margin-top: 70px;
}
span.food {
    color: #ff8e1a;
    font-size: 30px;
}
span {
    color: #705e5ede;
    font-size: 30px;
    margin-left: 5px;
}